@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* General
-------------------------------------------------- */
body {
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
	font-size: 16px;
}

* {
	color: #000000;
	line-height: 1.6;
}

p {
	margin-bottom: 1em;
    color: #fff;
}

a,
a:active,
a:visited {
	text-decoration: underline;
}

img {
	width: auto;
	max-width: 100%;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.no-scroll {
	overflow: hidden;
}

@media screen and (min-width: 768px) {
	a:hover {
		color: #000;
	}
}

/* TABLET */
@media screen and (max-width: 1024px) {
	.container {
		padding: 0 20px;
	}
}

/* Layout
-------------------------------------------------- */
.flex--centered {
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	text-align: justify;
	padding: 15px 50px;
}

.content img {
	text-align: center;
}

@media screen and (max-width: 768px) {
	.content {
		padding: 20px 20px;
	}
}

/* Header
-------------------------------------------------- */
.header {
	padding: 10px 0;
    background: #1E1D1D;
}

.logo-container {
	width: 403px;
}

.logo-container p {
	margin-bottom: 0;
}

/* Mobile */
@media screen and (max-width: 767px) {
	.logo-container {
		width: 200px;
	}

	.header {
		padding: 16px 0;
		border-bottom: #6D7074 1px solid;
	}
}

/* NAVIGATION BAR
-------------------------------------------------- */
.navbar {
	width: 100%;
	box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 62px;
}

.navbar .menu-items {
	display: flex;
}

.navbar .nav-container li {
	list-style: none;
}

.navbar .nav-container a {
	text-decoration: none;
	color: #0e2431;
	font-weight: 500;
	font-size: 1.2rem;
	padding: 0.7rem;
}

.navbar .nav-container a:hover{
	font-weight: bolder;
}

.nav-container {
	display: block;
	position: relative;
	height: 60px;
}

.nav-container .checkbox {
	position: absolute;
	display: block;
	height: 32px;
	width: 32px;
	top: 20px;
	right: 20px;
	z-index: 5;
	opacity: 0;
	cursor: pointer;
}

.nav-container .hamburger-lines {
	display: block;
	height: 26px;
	width: 32px;
	position: absolute;
	top: 17px;
	right: 20px;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.nav-container .hamburger-lines .line {
	display: block;
	height: 4px;
	width: 100%;
	border-radius: 10px;
	background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
	transform-origin: 0% 0%;
	transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
	transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
	transform-origin: 0% 100%;
	transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
	padding-top: 120px;
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
	height: 100vh;
	width: 100%;
	transform: translate(150%);
	display: flex;
	flex-direction: column;
	margin-right: -40px;
	padding-right: 50px;
	transition: transform 0.5s ease-in-out;
	text-align: center;
}

.navbar .menu-items li {
	margin-bottom: 1.2rem;
	font-size: 1.5rem;
	font-weight: 500;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
	transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
	transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
	transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
	transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
display: none;
}	

/* Titles
-------------------------------------------------- */
.title-style--1 {
	font-size: 52px;
	line-height: 1.5;
	font-weight: bold;
    color: #fff;
}

.title-style--2 {
	font-size: 28px !important;
	line-height: 1.5;
	font-weight: normal;
}

.title-style--3 {
	font-size: 24px !important;
	line-height: 1.5;
	font-weight: bold;
}

/* Buttons
-------------------------------------------------- */
.button-container {
	display: flex;
	justify-content: space-around;
	margin-bottom: 10px;
}

.button {
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	background-color: #009bd5;
	width: 384px;
	border: 0;
	padding: 11px 12px;
	border: 1px double #96e3ff;
	border-radius: 12px;
	position: relative;
}

.button span {
	color: #fff;
}

.button span:before {
	font-size: 25px;
	content: '\2295';
	height: 0;
	position: absolute;
	top: 0;
	left: 35px;
	width: 165px;
}

.button--more {
	display: none;
}

.button--more hr {
	margin-bottom: 20px;
}

/* boxes and container
-------------------------------------------------- */

.box__container {
    font-size: 18px;
	font-weight: normal;
    background: #fff;
	margin-bottom: 10px;
	line-height: 1.5;
	text-align: justify;
	border-radius: 10px;
	padding: 15px;
	opacity: .8;
}

.box__container p {
	color: #000;
	margin-bottom: 0;
}

.box__container a {
	color: #0074c5;
	text-decoration: none;
}

.octagon__box {
	width: 758px;
	height: 350px;
	background: #ccc;
	position: relative;
	padding: 15px 25px;
    margin-bottom: 50px;
}

.octagon__box:before {
	content: "";
	width: 700px;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 29px solid #ccc;
	border-left: 29px solid #001f4f;
	border-right: 29px solid #001f4f;
}

.octagon__box:after {
	content: "";
	width: 700px;
	height: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 29px solid #ccc;
	border-left: 29px solid #001f4f;
	border-right: 29px solid #001f4f;
}

/* Mobile */
@media screen and (max-width: 767px) {
	.octagon__box {
		padding: 15px 25px;
	}
.octagon__box:before {
		content: "";
		width: 292px;
		height: 0;
		position: absolute;
		top: 0;
		left: 0;
		border-bottom: 29px solid #ccc;
		border-left: 29px solid #001f4f;
		border-right: 29px solid #001f4f;
	}
	.octagon__box:after {
		content: "";
		width: 292px;
		height: 0;
		position: absolute;
		bottom: 0;
		left: 0;
		border-top: 29px solid #ccc;
		border-left: 29px solid #001f4f;
		border-right: 29px solid #001f4f;
	}
}

/* FLEXBOX
-------------------------------------------------- */

.flex__item {
    width: 100%;
}
  
.flex__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 15px 20px;
    text-align: justify;
}
  
.flex__container > div {
    flex: 50%; 
    margin-bottom: 10px;
}

/* COLUMNS
-------------------------------------------------- */
.columns {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.columns--1-2 .column {
	width: calc(50% - 7.5px);
	margin-bottom: 20px;
}

.columns--1-2 .column:nth-last-child(-n+2) {
	margin-bottom: 0;
}

.columns--1-2 .column .image {
	text-align: center;
}

.columns--1-3 .column {
	width: calc(33.33% - 25px);
}

.columns--1-3 .column:nth-last-child(-n+2) {
	margin-bottom: 0;
}

.columns--1-3 .column p:first-child {
	font-weight: bold;
	font-size: 24px;
	text-align: center;
}

/* 
-------------------------------------------------- */

.accordian--container {
	margin-bottom: 20px;
}

.accordion {
	font-size: 24px !important;
	font-weight: bold;
	background-color: #fff;
	color: #2e2e33;
	cursor: pointer;
	padding: 18px 25px;
	width: 100%;
	border: none;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
	opacity: 0.7;
}

.active, .accordion:hover {
	background-color: #fff;
}

.accordion:after {
	content: '\2295';
	color: #1c60ff;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2212";
}

.panel {
	padding: 0 18px;
	background-color: #fff;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	opacity: 0.7;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.panel p {
	color: #2e2e33;
	padding: 15px;
}

.panel span {
	font-weight: bold;
}

/* TABLE
-------------------------------------------------- */

.table--container {
	padding: 0 15px;
	margin-bottom: 25px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
	background: #001f4f;
    color: #fff;
    padding: 10px;
	opacity: .7;
}

td {
	border-bottom: 1px solid #ccc;
	text-align: center;
	padding: 10px;
}


/* keyvisual section start
-------------------------------------------------- */

.keyvisual__section {
    background: url('/frozen/images/img_keyvisual_bg.png') top no-repeat;
    text-align: center;
	margin: 0 auto;
	background-size: cover;
	padding: 20px 10px 0px;
}

.keyvisual__section .content {
	text-align: center;
}

.keyvisual__container .image {
	margin-top: 20px;
	margin-bottom: 20px;
    padding: 20px 30px;
}

.keyvisual__container {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 768px) {
    .keyvisual__container .image {
        width: 70%;
    }
}


/* OVERVIEW SECTION START
-------------------------------------------------- */
.overview__section {
	padding: 50px 0 20px;
    background: #001f4f;
    text-align: center;
}

/* VIDEO SECTION START
-------------------------------------------------- */
.video__section {
	padding: 50px 0 20px;
    background: #000;
    text-align: center;
}

@media screen and (max-width: 760px) {
	.video--container iframe {
		width: 97%;
		height: 200px;
	}
}

/* INTRODUCTION SECTION START
-------------------------------------------------- */

.introduction__section {
    background: url('/frozen/images/img_background_1.png') top no-repeat;
    text-align: center;
	margin: 0 auto;
	background-size: cover;
	padding: 50px 40px 60px;
}


@media screen and (max-width: 760px) {
	.introduction__section {
		padding: 30px 0 30px;
	}
}

/* STORY SECTION START
-------------------------------------------------- */

.story__section {
    background: url('/frozen/images/img_background_2.png') top no-repeat;
    text-align: center;
	margin: 0 auto;
	background-size: cover;
	padding: 50px 40px 60px;
}

@media screen and (max-width: 760px) {
	.story__section {
		padding: 30px 0 30px;
	}
}

/* CHARACTER SECTION START
-------------------------------------------------- */

.character__section {
    background: url('/frozen/images/img_background_3.png') top no-repeat;
    text-align: center;
	margin: 0 auto;
	background-size: cover;
	padding: 50px 40px 60px;
}

@media screen and (max-width: 760px) {
	.character__section {
		padding: 30px 0 30px;
	}
}

/* CHARACTER SECTION START
-------------------------------------------------- */

.highlight__section {
    background: url('/frozen/images/img_background_4.png') top no-repeat;
    text-align: center;
	margin: 0 auto;
	background-size: cover;
	padding: 50px 40px 60px;
}

@media screen and (max-width: 760px) {
	.highlight__section {
		padding: 30px 0 30px;
	}
}

/* CHARACTER SECTION START
-------------------------------------------------- */

.partnership__section {
    background: url('/frozen/images/img_background_5.png') top no-repeat;
    text-align: center;
	margin: 0 auto;
	background-size: cover;
	padding: 50px 40px 60px;
}

.partnership__section h2 {
	font-size: 42px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 25px;
}

.partnership__section h3 {
	font-size: 40px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 25px;
	text-align: center;
}

@media screen and (max-width: 760px) {
	.partnership__section {
		padding: 30px 0 30px;
	}
}

/* AUDITION SECTION
-------------------------------------------------- */

.audition__section {
	background: url('/frozen/images/img_background_5.png') top no-repeat;
    text-align: center;
	margin: 0 auto;
	background-size: cover;
	padding: 50px 40px 60px;
	opacity: .8;
}

@media screen and (max-width: 760px) {
	.partnership__section {
		padding: 30px 0 30px;
	}
}

/* NEWS SECTION
-------------------------------------------------- */

.news__section {
	background: url('/frozen/images/img_background_5.png') top no-repeat;
    text-align: center;
	margin: 0 auto;
	background-size: cover;
	padding: 50px 40px 60px;
}

.news__section h2 {
	font-size: 40px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 25px;
	text-align: center;
}

@media screen and (max-width: 760px) {
	.news__section {
		padding: 30px 0 30px;
	}
}


/* SNS SECTION
-------------------------------------------------- */

.sns__section {
	background: #3cd0f0;
    text-align: center;
	margin: 0 auto;
	background-size: cover;
	padding: 30px 40px 10px;
}

@media screen and (max-width: 760px) {
	.sns__section {
		padding: 30px 0 30px;
	}
}


/* INFO SECTION
-------------------------------------------------- */

.info__section {
	background: #fff;
    text-align: center;
	margin: 0 auto;
	background-size: cover;
	padding: 50px 40px 60px;
}

@media screen and (max-width: 760px) {
	.info__section {
		padding: 30px 0 30px;
	}
}


/* Footer
-------------------------------------------------- */
.footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: #000;
	margin-top: 0;
	color: #fff;
	font-weight: bold;
	font-size: 11px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer a p {
	display: block;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
}

.copyright {
	color: #fff;
	font-weight: normal;
	font-size: 10px;
    text-align: center;
}

@media screen and (max-width: 768px) {
	.footer {
		padding-bottom: 10px;
	}

	.footer__menu {
		justify-content: flex-start;
		padding: 0;
		border: 0;
		border-left: 0;
		margin-bottom: 10px;
	}

	.footer__menu a {
		margin-top: 10px;
		padding: 1px 6px 1px;
		text-align: justify;
		border-right: 1px solid #a3a3a3;
		border-left: 0;
	}

	.footer__menu a:last-child {
		border-left: 0;
		border-right: 1px solid #a3a3a3;
		border-top: 0;
	}

	.footer__menu a:nth-child(even) {
		border-left: 0;
	}

	.copyright {
		padding: 5px 8px;
		color: #a3a3a3;
		font-weight: bold;
		font-size: 10px;
	}
}